.guides {
  width: 100%;
  padding: 80px 0 389px;
  background: $bg-second;
  position: relative;
  overflow: hidden;

  @media #{$tablet} {
    padding: 80px 0 424px;
  }

  @media #{$laptop} {
    padding: 100px 0 40px;
  }
}

.guidesImg {
  width: 317px;
  height: auto;
  position: absolute;
  transform: translate(-50%, 0);
  left: 55%;
  bottom: 37px;

  @media #{$tablet} {
    width: 347px;
    bottom: 42px;
  }

  @media #{$laptop} {
    width: 440px;
    transform: translate(0, -50%);
    left: 62%;
    top: 55%;
  }

  @media #{$desktop} {
    width: 680px;
    left: 760px;
  }
}

.guidesContainer {
  width: 100%;

  @media #{$laptop} {
    width: 557px;
  }
}
