.newsCardItem {
  background: $bg-common;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 16px;

  @media #{$tablet} {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 232px 1fr;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.newsCardItemImg {
  width: 100%;
  height: 140px;
  object-fit: cover;

  @media #{$tablet} {
    width: 232px;
    height: 100%;
  }
}

.newsCardItemContainer {
  padding: 24px 16px;

  @media #{$tablet} {
    padding: 24px;
  }
}

.newsCardItemInfo {
  margin-bottom: 12px;

  @media #{$tablet} {
    margin-bottom: 24px;
  }

  @media #{$laptop} {
    display: flex;
    flex-direction: column;
  }
}

.newsCardItemTags {
  display: flex;
  flex-wrap: wrap;

  @media #{$laptop} {
    order: 2;
  }
}

.newsCardItemTagItem {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $font-tab-button;
  padding: 6px;
  background: $bg-tab-button;
  border-radius: 4px;
  margin: 0 8px 4px 0;
}

.newsCardItemDate {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #EDEDED;
  padding: 6px 0;
  white-space: nowrap;

  @media #{$laptop} {
    font-size: 14px;
    line-height: 24px;
    padding: 4px 0;
    order: 1;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    @media #{$laptop} {
      margin-right: 4px;
    }
  }
}

.newsCardItemTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $font-gray;
  margin-bottom: 8px;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 24px;
  }

  @media #{$laptop} {
    font-size: 18px;
    line-height: 26px;
  }
}

.newsCardItemDescription {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $font-main;
  margin-bottom: 12px;

  @media #{$tablet} {
    margin-bottom: 24px;
  }

  @media #{$laptop} {
    font-size: 14px;
    line-height: 22px;
  }
}