.topBanner {
  width: 100%;
  padding: 60px 0 80px;
  background: url('/images/topBanner/back_mob.png') no-repeat 100% 0 / 100% 100%;
  position: relative;
  overflow: hidden;

  @media #{$tablet} {
    background: url('/images/topBanner/back_tab.png') no-repeat 100% 0 / 100% 100%;
  }

  @media #{$laptop} {
    background: url('/images/topBanner/back_lap.png') no-repeat 100% 0 / 100% 100%;
    padding: 80px 0 100px;
  }

  @media #{$desktop} {
    background: url('/images/topBanner/back_desk.png') no-repeat 100% 0 / 100% 100%;
  }

  &::after {
    position: absolute;
    content: '';
    width: 154px;
    height: 204px;
    background: url('/images/topBanner/star_mob.png') no-repeat 50% 50% / 100% 100%;
    top: 29%;
    left: 0;

    @media #{$tablet} {
      top: 20%;
    }

    @media #{$laptop} {
      width: 299px;
      height: 275px;
      background: url('/images/topBanner/star_lap.png') no-repeat 50% 50% / 100% 100%;
      top: 16%;
      left: 12px;
    }

    @media #{$desktop} {
      width: 532px;
      height: 533px;
      background: url('/images/topBanner/star_desk.png') no-repeat 50% 50% / 100% 100%;
      top: 111px;
      left: 12px;
    }
  }

  &::before {
    position: absolute;
    content: '';
    width: 233px;
    height: 467px;
    background: url('/images/topBanner/banner-group_mob.png') no-repeat 50% 50% / 100% 100%;
    right: 0;
    bottom: 0;

    @media #{$tablet} {
      width: 181px;
      height: 460px;
      background: url('/images/topBanner/banner-group_tab.png') no-repeat 50% 50% / 100% 100%;
    }

    @media #{$laptop} {
      width: 270px;
      height: 617px;
      background: url('/images/topBanner/banner-group_lap.png') no-repeat 50% 50% / 100% 100%;
    }

    @media #{$desktop} {
      width: 425px;
      height: 610px;
      background: url('/images/topBanner/banner-group_desk.png') no-repeat 50% 50% / 100% 100%;
    }
  }
}

.topBannerContainer {
  position: relative;
  z-index: 1;
  text-align: center;
}

.topBannerTitle {
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: $font-main;
  margin: 0 auto 16px;

  @media #{$laptop} {
    font-size: 74px;
    line-height: 111px;
  }
}

.topBannerDescription {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto 20px;
  color: $font-gray;
  max-width: 421px;

  @media #{$laptop} {
    max-width: 585px;
    font-size: 24px;
    line-height: 34px;
  }
}

.topBannerInfo {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;
  margin: 0 auto 40px;
  max-width: 421px;
  text-align: center;

  @media #{$laptop} {
    max-width: 585px;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto 60px;
  }
}

.topBannerCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media #{$tablet} {
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.topBannerCard {
  width: 271px;
  background: rgba(29, 44, 63, 0.9);
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: 12px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 8px);
    max-width: 384px;
    margin-bottom: 0;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media #{$laptop} {
    width: 384px;
    margin-right: 32px;
    min-width: 343px;
  }
}

.topBannerCardTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: $font-main;
  margin-bottom: 12px;

  @media #{$laptop} {
    font-size: 22px;
    line-height: 33px;
  }
}

.topBannerCardDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;
  margin-bottom: 38px;

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
  }
}

.topBannerCardButton {
  width: 100%;
}