.menuContainer {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 100;
  transform: translate(0, 100%);

  @media #{$laptop} {
    bottom: 26px;
  }
}

.menu {
  margin-top: 20px;
  width: 100%;
  background: $bg-blue-3;
  padding: 20px 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;

  @media #{$tablet} {
    padding: 20px 40px 40px;
    justify-content: space-between;
  }

  @media #{$laptop} {
    margin-top: 26px;
  }

  @media #{$desktop} {
    padding: 20px 80px 40px;
  }
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet} {
    align-items: start;
    width: calc(50% - 56px);
    margin-bottom: 40px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  @media #{$laptop} {
    width: calc(25% - 56px);

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}

.menuLink {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$laptop} {
    margin-bottom: 12px;
  }
}

.menuTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $font-gray;
  margin-bottom: 16px;

  @media #{$tablet} {
    font-size: 18px;
    line-height: 26px;
  }

  @media #{$laptop} {
    margin-bottom: 12px;
  }
}