.support {
  padding: 80px 0;
  height: auto;
  background: url('/images/support/support-back_mob.png') top right no-repeat;
  object-fit: cover;

  @media #{$tablet} {
    background: url('/images/support/support-back_tab.png') top right no-repeat;
  }

  @media #{$laptop} {
    background: url('/images/support/support-back_lap.png') top right no-repeat;
    padding: 100px 0 94px;
  }

  @media #{$desktop} {
    background: url('/images/support/support-back_desk.png') top right no-repeat;
  }
}

.supportContainer {
  text-align: center;
}

.supportItem {
  width: auto !important;
  height: auto !important;
}

.supportDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;
  text-align: center;
  max-width: 672px;
  margin: 0 auto 40px;

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto 60px;
  }
}

.supportCardsList {
  @media #{$tablet} {
    display: none;
  }
}

.supportCardsListDesk {
  display: none;

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    margin: 0 auto;
  }

  @media #{$laptop} {
    width: 944px;
  }

  @media #{$desktop} {
    width: 1160px;
  }
}