.newsTopBanner {
  width: 100%;
  padding: 30px 0 60px;
  background: url('/images/newsBanner/news-banner-mob.png') no-repeat 100% 0 / 100%;
  position: relative;
  overflow: hidden;
  min-height: 320px;

  @media #{$tablet} {
    background: url('/images/newsBanner/news-banner-tab.png') no-repeat 100% 0 / 100%;
  }

  @media #{$laptop} {
    background: url('/images/newsBanner/news-banner-laptop.png') no-repeat 100% 0 / 100%;
    padding: 40px 0 60px;
  }

  @media #{$desktop} {
    background: url('/images/newsBanner/news-banner-desk.png') no-repeat 100% 0 / 100%;
  }
}

.newsTopBannerGrid {
  position: absolute;
  width: 190px;
  top: 67px;
  right: -47px;

  @media #{$tablet} {
    width: 276px;
    top: 47px;
    right: -27px;
  }

  @media #{$laptop} {
    width: 351px;
    top: 29px;
    right: 41px;
  }

  @media #{$desktop} {
    right: 191px;
  }
}

.newsTopBannerElem1 {
  position: absolute;
  width: 92px;
  top: 52px;
  right: 18px;

  @media #{$tablet} {
    width: 134px;
    top: 25px;
    right: 73px;
  }

  @media #{$laptop} {
    width: 170px;
    top: 0;
    right: 87px;
  }

  @media #{$desktop} {
    right: 320px;
  }
}

.newsTopBannerElem2 {
  position: absolute;
  width: 45px;
  top: 188px;
  right: 0;

  @media #{$tablet} {
    width: 65px;
    top: 256px;
    right: 21px;
  }

  @media #{$laptop} {
    width: 85px;
    top: 197px;
    right: 21px;
  }

  @media #{$desktop} {
    right: 254px;
  }
}

.newsTopBannerWrapper {
  position: relative;
  z-index: 1;
}

.newsTopBannerTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: $font-main;
  margin-bottom: 16px;

  @media #{$tablet} {
    font-size: 38px;
    line-height: 48px;
  }

  @media #{$laptop} {
    font-size: 46px;
    line-height: 69px;
  }

  @media #{$desktop} {
    font-size: 46px;
    line-height: 69px;
  }
}

.newsTopBannerDescription {
  width: 78%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;

  @media #{$tablet} {
    width: 57%;
  }

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
    width: 660px;
  }
}

.newsTopBannerBreadcrumbs {
  margin-bottom: 24px;
}