.footer {
  padding: 60px 0 30px;

  @media #{$laptop} {
    padding: 60px 0;
  }
}

.footerContainer {
  display: grid;
  row-gap: 40px;
  grid-template-areas:
      "logo"
      "menu"
      "button"
      "text"
      "social";

  @media #{$tablet} {
    grid-template-areas:
      "logo button"
      "menu menu"
      "text social";
  }

  @media #{$laptop} {
    row-gap: 28px;
    column-gap: 40px;
    grid-template-columns: 172px 1fr 185px;
    grid-template-rows: 48px 1fr;
    grid-template-areas:
      "logo menu button"
      "text menu social";
  }
}

.footerLogo {
  grid-area: logo;
  justify-self: center;

  @media #{$tablet} {
    justify-self: start;
  }

  img {
    width: 137px;
    height: auto;
  }
}

.footerMenu {
  grid-area: menu;
  justify-self: center;
}

.footerButton {
  width: 100%;
  grid-area: button;

  @media #{$tablet} {
    justify-self: end;
    width: 185px;
  }
}

.footerText {
  grid-area: text;
  justify-self: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: $font-second;

  @media #{$tablet} {
    justify-self: start;
    padding: 9px 0;
  }
}

.footerSocial {
  grid-area: social;
  max-width: 168px;
  justify-self: center;

  @media #{$tablet} {
    padding: 6px 0;
    justify-self: end;
  }

  @media #{$laptop} {
    justify-self: center;
  }
}