.statistics {
  width: 100%;
  padding: 80px 0;
  background: $bg-second;
  background: url('/images/backgrounds/lines.svg') no-repeat 0 0 / auto 100%;
  position: relative;
  overflow: hidden;

  @media #{$laptop} {
    background: url('/images/backgrounds/lines.svg') no-repeat 120% 0 / auto 100%;
    padding: 100px 0;
  }

  @media #{$desktop} {
    background: url('/images/backgrounds/lines.svg') no-repeat 90% 0 / auto 100%;
  }
}

.statisticsContainer {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 40px 0;

  @media #{$laptop} {
    grid-template-columns: 544px 1fr;
    gap: 60px 100px;
  }

  @media #{$desktop} {
    gap: 60px 6px;
  }
}

.statisticsContent {
  text-align: center;

  @media #{$laptop} {
    text-align: left;
  }
}

.statisticsDescription {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  color: $font-gray;
  text-align: center;

  @media #{$laptop} {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
  }
}

.statisticsInfo {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;
  text-align: center;

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
  }
}

.statisticsCardContainer {
  display: grid;
  gap: 16px 0;

  @media #{$tablet} {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 16px;
  }

  @media #{$laptop} {
    grid-template-columns: 1fr;
    gap: 47px 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media #{$desktop} {
    gap: 65px 0;
  }
}

.statisticsCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-common;
  width: 100%;
  height: 100%;
  padding: 16px 22px;
  border-radius: 16px;

  @media #{$tablet} {
    padding: 24px 8px;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
  }

  @media #{$laptop} {
    width: 300px;
    padding: 24px 26px;

    &:first-child {
      justify-self: end;
    }

    &:nth-child(2) {
      justify-self: center;
    }
  }
}

.statisticsCardValue {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: $font-main;
  margin-right: 16px;

  @media #{$tablet} {
    font-size: 38px;
    line-height: 48px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media #{$laptop} {
    font-size: 54px;
    line-height: 54px;
  }
}

.statisticsCardDescription {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: $font-gray;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 24px;
  }
}

.statisticsButton {
  width: 100%;
  justify-self: center;

  @media #{$tablet} {
    width: 274px;
  }

  @media #{$laptop} {
    justify-self: start;
  }
}
