.breadcrumbs,
.breadcrumbsItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $font-second-light;

  &:first-child {
    font-weight: 400;
    color: $font-main;
  }
}

.breadcrumbsSlash {
  margin: 0 13px;
}