.reporting {
  padding: 80px 0;
  background: url('/images/backgrounds/reporting-bg_mob.svg') no-repeat 85px 0 / 100% 100%;
  position: relative;
  overflow: hidden;

  @media #{$laptop} {
    padding: 100px 0;
    background: url('/images/backgrounds/reporting-bg_desk.svg') no-repeat 140px 0 / 100% 100%;
  }
}

.reportingContainer {
  position: relative;
  z-index: 1;
}

.reportingGrid {
  width: 329px;
  height: 330px;
  position: absolute;
  bottom: -15px;
  left: -30px;

  @media #{$tablet} {
    bottom: -85px;
  }

  @media #{$laptop} {
    width: 516px;
    height: 517px;
    bottom: -7px;
    left: -87px;
  }
}

.reportingEye {
  width: 165px;
  height: auto;
  position: absolute;
  right: -30px;
  top: 220px;

  @media #{$tablet} {
    width: 200px;
    right: -40px;
    top: 220px;
  }

  @media #{$laptop} {
    width: 250px;
    right: -10px;
  }

  @media #{$desktop} {
    width: 330px;
    right: 0;
    top: 180px;
  }
}

.reportingText {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;
  margin: 0 auto 40px;
  text-align: center;
  width: 100%;
  max-width: 476px;

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto 60px;
  }
}

.reportingInfoWrapper {
  background: rgba(29, 44, 63, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 32px 40px;

  @media #{$laptop} {
    padding: 32px 60px;
    border-radius: 12px;
  }
}

.reportingInfoContainer {
  display: grid;
  row-gap: 24px;

  @media #{$laptop} {
    width: 886px;
    margin: 0 auto;
    row-gap: 40px;
    column-gap: 60px;
    grid-template-columns: 444px 382px;
  }

  @media #{$desktop} {
    column-gap: 173px;
    width: 1000px;
  }
}

.reportingInfoList {
  justify-self: center;
  width: 255px;
  white-space: nowrap;

  @media #{$tablet} {
    width: 480px;
    justify-self: start;
  }

  @media #{$laptop} {
    width: 100%;
    text-align: left;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
  }
}

.reportingInfoText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $font-gray;
  text-align: left;
  width: 255px;
  justify-self: center;

  @media #{$tablet} {
    width: auto;
    justify-self: start;
  }

  @media #{$laptop} {
    font-size: 18px;
    line-height: 26px;
    align-self: end;
  }
}

.reportingInfoButtonContainer {
  text-align: center;

  @media #{$laptop} {
    text-align: left;
    align-self: start;
    justify-self: start;
  }
}

.reportingInfoItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;
  padding: 16px 0;
  position: relative;

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(145.3deg, #43669F 31.28%, #4D549F 54.58%, #202B3F 69.96%);
    bottom: 0;
    left: 0;
  }
}